
/* LETRAS DE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@100..900&family=Fjalla+One&family=Just+Another+Hand&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@100..900&family=Fjalla+One&family=Just+Another+Hand&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans:wght@100..900&family=Fjalla+One&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poetsen+One&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

nav li{
    font-family: "Encode Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 124.7;
}

.excurs , .precios{
    font-family: "Encode Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



.button {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.texto p, .boton {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.texto .aventura {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.descrip{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}
.info{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}
.texto h2 {
    font-family: "Just Another Hand", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
}


.busqueda {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.w3-card-4, .sireniaNom{
    font-family: "Just Another Hand", cursive;
    font-weight: 700;
    font-style: normal;

}


.destinos {
    font-family: "Fjalla One", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(19, 19, 78);
}


.correo {
    font-family: "Encode Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 124.7;

}

.titulo h1,
.loogin,
.lost-password ,.remember-me {
    font-family: "Encode Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */
.viaje {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buscar {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

footer {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1em;
}

.incluido , .mundo {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 19px;
}

.incluido h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1.2px;
    color: rgb(19, 19, 78);

}

.verano {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.letras {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#camar{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.plato h3, .nomBar{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.plato p, .imagen{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* SE CIERRA LETRAS GOOGLE */

/* ----    CONTENEDOR    ---- */
.contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*--------------------------  */
/* HEADER -- HEADER -- HEADER -- HEADER */

.logo {
    height: 79px;
    width: 113px;
  padding-top: 5px;
}
.cabecero{
    background-image: url("../IMG/fondos/a-cruise-ship-holiday-means-ambling-in-luxury-stock-photo-1688018778-68153380.avif");
}
header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: white;
    /* height: 100vh; */
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 700px;
}

/* -----------SE CIERRA HEADER ------------ */

/* -- NAVEGADOR -- NAVEGADOR -- NAVEGADOR -- */
nav {
    height: 81px;
    width: 100%;
    align-content: center;
}

a {
    text-decoration: none;
}

.head {
    height: 100px;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

nav ul .menu {
    display: flex;
    gap: 63px;
}

nav ul .sesion {
    margin-left: auto;
    margin-right: 25px;
    /* Empuja "INICIAR SESIÓN" a la derecha */
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: rgb(250, 249, 249);
    position: relative;
}


nav a:hover {
    color: white;
}

a {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    padding-bottom: 5px;
}

a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2.3px;
    width: 0px;
    transition: all .8s;
}
/* esta linea hace que se haga una linea abajo de la palabra */
.link:hover:after {
    width: 100%;
    background: #fffcfc;
}
.sesion {
    display: flex;
    justify-content: end;
}

a {
    color: white;
}

/*--------- SE CIERRA NAV ---------- */

/* -------------CORREO-------------- */

.correo {
    display: flex;
    background-color: rgb(28, 28, 112);
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 38px;
}

label {
    padding-right: 50px;
}

.email {
    height: 36px;
    width: 230px;
    text-align: center;
}

.button {
    border: none;
    border-radius: 2px;
    background-color: rgb(132, 132, 230);
    color: white;
    width: 130px;
    height: 35.3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/*---------------- SE CIERRA CORREO ----------------- */
/* -- FOOTER -- FOOTER -- FOOTER -- FOOTER  */
ul {
    list-style: none;
}
.nosotros h3{
    margin-left: 50px;
}
.viajes{
    margin-right: 50px;
}
.viajes h3{
    margin-left: 45px;
}
.pie {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    height: 380px;
    width: 100%;
    background-color: rgb(28, 28, 112);
    text-align: center;
    color: white;
}

.pie a:after {
    height: 1px;
}

.derechos {
    display: grid;
    grid-column: 2/3;
}

.redes {

    border-right: 1px solid rgb(196, 194, 194);
    border-left: 1px solid rgb(196, 194, 194);

}

/* -------- SE CIERRA FOOTER ---------- */


/* ------ PAGINA INICIO SESIÓN ------ */

.cabeceroSesion {
  
    background-color: rgb(28, 28, 112);
    height: 79px;
}

.fondoBlanco img{
    background-color: rgb(248, 247, 245);
    border: none;
    border-radius: 3px;
    opacity: 0.9;
}

.inicio {
    background-image: linear-gradient(to right, rgb(53, 53, 128), rgb(231, 231, 240));
}

.cabeceroSesion img {
    background-color: white;
    height: 79px;
    width: 113px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px
}

.titulo {
    text-align: center;
    color: #252525;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.login-field {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 17px;

    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #13c7c7;
    box-shadow: none;
}

.loogin {
    margin-top: 20px;
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 10px;
    width: 250px;

}

.remember-me input {
    margin-right: 10px;
}
.btn:hover {
    background-color: #2980B9;
}

.social-login button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 .social-login button.facebook {
    background-color: #4267B2;
  }
.social-login button:hover {
    opacity: 0.8;
  }
/* Selecciona todos los elementos de la pagina y les da el mismo relleno y borde */
* {
    box-sizing: border-box;
}

.lost-password , .remember-me{
    font-size: 15px;
    color: #444;
    display: block;
    margin-top: 20px;
}

/* ---------- SE CIERRA PAGINA DE INICIO SESIÓN --------- */

/* ---- PAGINA OFERTAS ---- PAGINA OFERTAS ---- */
.ofertas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(../IMG/fondos/ofertaaas.jpg);
    height: 500px;
    margin-bottom: 20px;
}
.ofertasFooter{
    margin-top: 100px;
}

/* --- SE CIERRA PAGINA OFERTAS ---  */

/* -- PAGINA BARCOS -- PAGINA BARCOS --*/
#barcoFondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(../IMG/fondos/sunset-cruise-deck_1920_800.jpg);

}
.ofertasFooter{
    margin-top: 100px;
}

/* ---- SE CIERRA PAGINA BARCOS ---- */

/* -- PAGINA BARCO SIRENIA -- PAGINA BARCO SIRENIA -- */
#sirenia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(../IMG/cruceros/cruceros/sirenia.webp);
    height: 780px;

}
.barco{
    margin-top: 100px;
    font-size: 50px;
    width: 470px;
    text-align: center;
}
.mundo{
    margin: 0px;
    color: white;
    font-size: 35px;
    font-weight: 400;
}
.sireniaNom{
    font-size: 150px;
    color: white;
    text-shadow: 1px 1px 1px #fcfbfb;
    margin: 0px;
    font-weight: 100;

}
/* SE CIERRA PAGINA BARCO SIRENIA */

/* RESPONSIVE -- RESPONSIVE -- RESPONSIVE */

/* PARA TABLETS */
@media (max-width: 768px) { 
header{
    height: 330px;
}
.button {
    width: 100px;
    height: 35.3px;
}
    .pie {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        height: auto;
    }
    .derechos {
        grid-column: 1/1;
        grid-row: 4/5;
    }
    .redes{
        grid-row: 2/3;
    }
    .viajes{
        grid-row: 3/4;
    }
    .nosotros{
        grid-row: 1/2;
    }
   nav ul .menu{
   gap:0;
   }
   nav ul .sesion{
    margin-left: 0px;
    margin-right: 0px;
   }
      
}


/* PARA MÓVILES */
@media screen and (max-width:550px){
    header{
        height: 770px;
    }
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #080349;
        position: absolute;
        top: 81px; /* Altura del nav */
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    nav ul .menu {
        flex-direction: column;
        gap: 0;
    }

    nav ul .sesion {
        margin: 0;
    }
}
