.busqueda {
    position: relative;
    top: 337%;
    left: 5%;
}

.busqueda h1 {
    margin-bottom: 30px;
    padding-bottom: 0px;
    font-size: 3em;
    color: white;
}

.busqueda p {
    font-size: 18px;
}

/* Reserva */
.viaje {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    gap: 30px;
}

.viaje .fondo {
    background-color: #fff;
    border: 4px solid #fff;
    width: 197px;
    height: 76px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 3px;
}

.fondo:hover {
    border-color: #d4d3d3;
    border-radius: 3px;
}

.fondo p {
    margin-bottom: 5px;
    margin-top: 2px;
}

.viaje #buscar {
    background-color: #ffcb00;
    border: 4px solid #ffcb00;
}

#buscar .buscar {
    background-color: #ffcb00;
    border: #ffcb00;
    cursor: pointer;
    text-align: center;
    margin-top: 13px;
}

.fondo:hover {
    box-shadow: 0 4px 16px rgb(249, 250, 250);
    transition: all 0.2s ease;
}

.viaje a {
    color: black;
}

.viaje a:hover {
    color: black;
}

/* ---------------------------------------------- */





/* Destinos */
.destinos {
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
}

/* cards de destinos */
.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 100px;
}


.ofertasGrid .w3-card-4:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url(../IMG/cruceros/crucero1.jpg);
}

.w3-card-4:hover {
    -webkit-transform: scale(1.7);
    transform: scale(1.1);
}

.w3-card-4 {
    overflow: hidden;
    width: 330px;
    height: 278px;
    border: none;
    /*Añade borde pero no se ve */
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 55px;
}

.w3-card-4 {
    position: relative;
    /* Asegura que los elementos dentro se posicionen relativamente */
    display: inline-block;
    /* Para que cada tarjeta ocupe solo el espacio que necesita */
}

.cards {
    position: absolute;
    /* Se posiciona absolutamente en relación con el contenedor padre */
    top: 50%;
    /* Coloca el elemento en la mitad superior del contenedor */
    left: 50%;
    /* Coloca el elemento en la mitad izquierda del contenedor */
    transform: translate(-50%, -50%);
    /* Centra el elemento */
    text-align: center;
    color: white;
    /* Texto blanco */
}


/* -------------------------------------------------- */

/* ACTIVIDADES-------------------------------------------- */

.index {
    display: grid;
    grid-template-rows: repeat(5, auto);
    margin-left: 30px;
    margin-right: 30px;
}

article {
    margin-bottom: 100px;
}

.actividades {
    background-color: rgb(206, 206, 201);
    height: 490px;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
}

.texto {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    text-align: center;
}

.texto h2 {
    margin-bottom: 40px;
    margin-top: 20px;
}

.texto p {
    text-align: center;
}


.card2 {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
}

.excursiones img {
    justify-content: center;
    width: 330px;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.excurs {
    position: absolute;
    left: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(10, 5, 5);
    background: rgba(247, 244, 244, 0.8);
    width: 190px;
    height: 48px;
}

.excurs a {
    color: black;
}

.excurs {

    position: relative;
    /* Asegura que los elementos dentro se posicionen relativamente */
    display: inline-block;
    /* Para que cada tarjeta ocupe solo el espacio que necesita */
}


.excursiones:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.excursiones {
    overflow: hidden;
}

/* --------------------------------------------------------- */




.video {
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
    /* Asegura que el contenedor ocupe el ancho completo del padre */
}

video {
    width: 60%;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.letra {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
}


.letras {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 50px;
}

.verano p {
    color: #f70f49;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 60px;
}



/* INCLUIDO ------------------- */

.centrado ul {
    width: 90%;
}

.centrado h2 {
    margin-top: 40px;
    margin-bottom: 120px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.incluido {
    margin-top: 80px;
    margin-bottom: 150px;
}

.incluido h2 {
    font-size: 40px;
}

.centrado li {
    padding-right: 20px;
    padding-left: 20px;
}

/* ---------------------------- */


/* PAGINA OFERTAS */


.ofertasGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 60px;
    justify-content: center;
}


.card {
    width: 93%;
    /* Reduce el ancho de la tarjeta */
    height: auto;
    /* Ajusta automáticamente la altura */
    display: block;
    margin: 0 auto;
    /* Centra la tarjeta horizontalmente */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}



.cartas {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0.5, 0, 0, 0.5);
}


.botones {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    margin-left: 65px;
}

.boton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0.3, 0.3, 0.3, 0.3);
    font-weight: 500;
}

.boton:hover {
    background-color: #f0f0f0;
}

.precio {
    color: #1083cf;
    text-align: center;
}

.precpersona {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.ahorro {
    border: 2px solid orangered;
    border-radius: 3px;
    color: orangered;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    font-weight: 500;
    color: rgb(44, 44, 44);
    font-size: 14px;
}

.bebidas {
    background-color: orangered;
    border: none;
    border-radius: 3px;
    width: 131px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.dias {
    font-size: 20px;
    font-weight: 600;
}

/* ---------------------------------- */


/* PAGINA BARCOS */
#cartaBarco {
    overflow: hidden;
    width: 369px;
    height: 200px;
    border: none;
    /*Añade borde pero no se ve */
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Añadiendo sombra a la carta */
#cartaBarco {
    box-shadow: 2px 2px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

.nombreBarco {
    position: absolute;
    /* Se posiciona absolutamente en relación con el contenedor padre */
    top: 50%;
    /* Coloca el elemento en la mitad superior del contenedor */
    left: 50%;
    /* Coloca el elemento en la mitad izquierda del contenedor */
    transform: translate(-50%, -50%);
    /* Centra el elemento */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000
}

/* ----- SE CIERRA PAGINA BARCOS ----- */

/* BARCO SIRENIA -- BARCO SIRENIA -- BARCO SIRENIA */
.info {
    display: flex;
    background-color: rgb(231, 228, 228);
    width: 800px;
    height: 200px;
    text-align: center;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.fondo p {
    font-weight: 300;
}

.informacion {
    display: flex;
    justify-content: center;
}

.descrip {
    font-size: 20px;
    font-weight: 500;
}

/* CAMAROTES -- CAMAROTES -- CAMAROTES */
#subrayado::before {
    content: "";
    display: block;
    width: 5.5rem;
    border-bottom: .2rem solid #ff690e;
    margin: 0 auto;
}

.camarote {
    margin-bottom: 100px;
}

.camarote2 {
    width: 101%;
    margin-left: 52px;
}

#camar {
    height: 400px;
}

/* SE CIERRA CAMAROTES */

/* ENTRETENIMIENTO -- ENTRETENIMIENTO */
.imagenes {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
}

.imagen {
    width: 460px;
    height: 500px;
}

.imagen img {
    height: 268px;
    width: 100%;
}

#act {
    font-size: 45px;
}

.actividad {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #474747;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.imagen p {
    text-align: left;
    color: #535252;
}

/* SE CIERRA ENTRETENIMEINTO  */

/* RESTAURANTE -- RESTAURANTE -- RESTAURANTE */

.comida {
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
}

.plato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 202px;
    margin-right: 200px;
    margin-bottom: 100px;
    width: 74%;
}

.comida img {
    margin-left: 260px;
    margin-right: 214px;
    height: 540px;
    width: 968px;
}

.plato p {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 20px;
    color: grey;
}

.plato h3 {
    margin-bottom: 0px;
    color: rgba(34, 38, 97, 0.986);
    font-size: 50px;
}

/* SE CIERRA RESTAURANTE */

/* BAR , RESTAURANTE Y ENTRETENIMIENTO */

.baar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}

.nomBar {
    position: absolute;
    top: 96%;
    left: 17%;
    transform: translate(-20%, -80%);
    color: white;
    font-size: 25px;
}


.w3 {
    overflow: hidden;
    width: 230px;
    height: 220px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
}

/* SE CIERRA BAR,  RESTAURANTE Y ENTRETENIMIENTO */

/* -- SE CIERRA BARCO SIRENIA --*/

/* botón "ir hacia arriba" */
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #484faf;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
}

#myBtn:hover {
    background-color: #555;
}

/* ------------------------ */


/* RESPONSIVE -- RESPONSIVE -- RESPONSIVE */

/* PARA TABLETS */
@media (max-width: 768px) {
    .contenedor {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }


    .top {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .w3-card-4 {
        width: 233px;
        height: 201px;
        font-size: 43px;
        margin-top: 20px;
    }

    .card2 {
        display: flex;
        flex-direction: column;
    }

    .actividades {
        display: grid;
        grid-template-columns: 300px 300px;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: white;
    }

    .excursiones img {
        width: 207px;
        height: 239px;
    }

    .texto {
        margin-left: 100px;
    }

    .index article,
    .index section {
        padding: 10px;
    }

    .letras {
        font-size: 30px;
    }

    video {
        width: 83%;
    }

    .video {
        margin-top: 120px;
    }

    .verano {
        font-size: 30px;
    }

    .centrado {
        display: flex;
        flex-direction: column;
    }

    .incluido h2 {
        font-size: 35px;
    }

    .viaje {
        width: 50%;
    }

    .busqueda {
        top: 66%;
        left: -3%;
    }

    .busqueda h1 {
        font-size: 30px;
    }

    .busqueda p {
        font-size: 13px;
    }

    .viaje img {
        width: 20px;
        height: 20px;
    }

}

/* PARA MOVILES */
@media screen and (max-width:550px) {
    .contenedor {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
    }

    .viaje {
        display: flex;
        flex-direction: column;
    }

    .busqueda {
        top: 260%;
        left: 3%;
    }

    .busqueda h1 {
        color: black;
    }

    .top {
        width: 370px;
    }

    .destinos {
        font-size: 45px;
        width: 97%;
        margin-top: 225px;
    }
    .actividades{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .texto{
        margin-left: 0px;
        width: 90%;
    }
    .excursiones{
        width: 72%;
    }
    video{
        width: 100%;
    }
    .verano p{
        font-size: 45px;
    }
}